@import "../../../styles/variables";
.found_part_wrap {
    background: radial-gradient(circle, #F9F9FD 0%, #F7A765 100%);
    padding: 100px 0 80px;
    @media (max-width: $breakpoint_tablet) {
        padding: 60px 0 40px;
    }
    .form_intro {
        max-width: 700px;
        margin: -25px 0 34px;
        color: #3f506c;
        font-size: 16px;
        line-height: 1.6;
    }
    form {
        gap: 50px;
        @media (max-width: $breakpoint_mobile_portrait) {
            gap: 0;
            flex-direction: column;
        }
        ul {
            width: 50%;
            @media (max-width: $breakpoint_mobile_portrait) { width: 100%;}
            li {
                margin: 0 0 20px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                label {
                    margin-bottom: 7px;
                    color: #19191D;
                    font-size: 13px;
                    font-weight: 700;
                    span {
                        color: #506381;
                        font-weight: 400;
                    }
                }
                input {
                    height: 62px;
                    color: #000;
                    &::placeholder {
                        text-transform: uppercase;
                    }
                }
                textarea {
                    height: 144px;
                    color: #000;
                    &::placeholder {
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}
